@use 'variables' as v;

//* Stasts
.hp{
    color: #16c2d5;

}
.atq{
    color: #ff3939;
}
.def{
    color: #fdfd96;
}

//* Types styles
.grass{
    background-color: v.$Grass;
    color: v.$Black;
    i{
          
        color: v.$Grass;
       }

}
.fire{
    background-color: v.$Fire;
    color: v.$Black;
    i{
          
        color: v.$Fire;
       }

}

.water{
    background-color: v.$Water;
    color: v.$White;
    i{
          
        color: v.$Water;
       }
}
.bug{
    background-color: v.$Bug;
    color: v.$White;
    i{
         
        color: v.$Bug;
       }
    
}
.normal{
    background-color: v.$Normal;
    color: v.$Black;
    i{
         
        color: v.$Normal;
       }
}
.fighting{
    background-color: v.$Fighting;
    color: v.$White;
    i{
         
        color: v.$Fighting;
       }

    
}
.flying{
    background-color: v.$Flying;
    color: v.$Black;
    i{
         
        color: v.$Flying;
       }


    
}
.poison{
    background-color: v.$Poison;
    color: v.$White;
   
   i{
     
    color: v.$Poison;
   }
    
    
}
.ground{
    background-color: v.$Ground;
    color: v.$Black;
    i{
         
        color: v.$Ground;
       }

}
.rock{
    background-color: v.$Rock;
    color: v.$White;
    i{
         
        color: v.$Rock;
       }
}
.ghost{
    background-color: v.$Ghost;
    color: v.$White;
    i{
         
        color: v.$Ghost;
       }

}
.steel{
    background-color: v.$Steel;
    color: v.$Black;
    i{
         
        color: v.$Steel;
       }

}
.electric{
    background-color: v.$Electric;
    color: v.$Black;
    i{
         
        color: v.$Electric;
       }

}
.psychic{
    background-color: v.$Psychic;
    color: v.$White;
    i{
         
        color: v.$Psychic;
       }

}
.ice{
    background-color: v.$Ice;
    color: v.$Black;
    i{
         
        color: v.$Ice;
       }

}
.dragon{
    background-color: v.$Dragon;
    color: v.$White;
    i{
         
        color: v.$Dragon;
       }

    
}
.dark{
    background-color: v.$Dark;
    color: v.$White;
    i{
         
        color: v.$White;
       }

}
.fairy{
    background-color: v.$Fairy;
    color: v.$Black;
    i{
         
        color: v.$Fairy;
       }

}
