
// Backgound
$BackgroundColor:#1e1e1e;
$Card: #3d3d3d;

//Types
$Grass: #8deb63;
$Fire: #e2593c;
$Water: #5161ee;
$Bug: #789860;
$Normal: #b8b5a6;
$Fighting :#954627;
$Flying: #a4b6f6;
$Poison: #b567cd;
$Ground: #dbbc68;
$Rock: #5b4737;
$Ghost: #5c3b4b;
$Steel:#939da2;
$Electric: #edd979;
$Psychic : #f46195;
$Ice: #6eacc3;
$Dragon : #b01517;
$Dark : #0f1a20 ;
$Fairy: #e294e2;
$Unknown :#243d52;
$Shadow: #6525a8;


// Texts
$White: #e0e1da;
