@use "variables" as v;
@use "buttons";
.motion {
    background-color: transparent;
    margin-top: 5px;
}
.card-poke {
    margin-top: 2rem;
    width: 18rem;
    height: 30rem;
    border-radius: 35px;
    background-color: v.$Card;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    text-transform: capitalize;
    &_title {
        background-color: v.$Card;
        color: v.$White;
        font-weight: bold;
        letter-spacing: 3px;
    }
    &_number {
        background-color: v.$Card;
        color: #8e8e8f;
        letter-spacing: 4px;
        font-size: 1.1em;
    }
    &_img {
        background-color: v.$Card;
        max-width: 16rem;
        min-height: 17rem;
    }
    &_button {
        width: 100%;
        text-align: center;
        border: none;

        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 12px;
        border-radius: 15px;
        overflow: hidden;
        &-text {
            width: 100%;
            margin-bottom: 0;

            padding: 8px;
            text-transform: capitalize;
            letter-spacing: 3px;
            font-size: 1.4em;
        }
    }
}
