@use 'variables' as v;
@use 'buttons';
.single-poke{
    margin-top: 2rem;
    width: 50rem;
    height: 32rem;
    border-radius: 35px;
    background-color: v.$Card ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px ;
    @media((min-width: 551px ) and (max-width: 853px)){
      
     width: 35rem;          
    }
    
    &_nav{
        width: 95%;
        display: flex;
        background-color: v.$Card ;
        margin-bottom: 25px;
        justify-content: space-between;
        align-items: center;
    }
    &_type{
        font-size: 1.2em;
        font-weight: 600;
        margin-top: 5px;
        padding: 10px 90px;
        border-radius: 15px;
        text-transform: capitalize;
        letter-spacing: 3px;
        @media(max-width: 550px){
                padding: 10px 50px;
        }
        
        
    }
    &_name{
    background-color: v.$Card ;
    color: v.$White;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: capitalize;
    
    }
    &_number{
    background-color: v.$Card ;
    color: #8e8e8f;
    letter-spacing: 4px;
    font-size: 1.1em;

    }
    &_body{
        background-color: v.$Card;
        width: 100%;
        height: 65%;
        display: flex;
        gap: 6rem;
        align-items: center;
        justify-content: space-evenly;
        @media(max-width: 550px){
            flex-direction: column;
            gap: 2rem;
        }
        @media((min-width: 551px ) and (max-width: 853px)){
                gap: 1.5rem;
        }
        &-img{
            max-width: 17rem;
            background-color: transparent;
            padding-top: 5px;
            @media(max-width: 550px){
                max-width: 10rem;
                padding-top: 50px;
            }
            
        }
    }
   
    &_details{
        background-color: transparent;
        letter-spacing: 1px;
        
       
        
        &-abilitys {
            background-color: transparent;
            margin: 0;
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 15px;

            
            span{
            background-color: transparent;
            

            }
            h4{
            background-color: transparent;
            font-size: 1.8em;
            font-weight: 600;
            margin-bottom: -6px;
            }
            li{
            list-style: none;
            
            font-size: 1.1em;
            
            padding: 1px;
            border-radius: 10px;
    text-transform: capitalize;

            }
            
        }
        &-stats{
            margin-top: 45px;
            background-color: transparent;
            text-align: center;
            display: flex;
            justify-content: space-between;
            gap: 2px;
            padding-right: 12px;
            @media(max-width: 550px){
                gap: 0;
                margin-top: 0;
                padding-top: 1px;
            }
            p, span, div{
            
            background-color: transparent;
            margin: 0;
            padding-left: 15px;
            }
            p{
                font-size: 1.8em;
            }
            span{
                font-size: 1.5em;
                font-weight: 400;
                
                
            }
            
        }
    
    }
    
    
}
.home {
    position: absolute;
    top: 5%;
    left: 5%;
    border: none;
    background-color: transparent;

    i{
    font-size: 50px;
    background-color: transparent;
    color: #e0e1da;
    }
    @media(max-width: 550px){
        top: 2%;
        left: 3%;
     i{
        font-size: 32px;
    
        
     }           
    }

    @media((min-width: 551px ) and (max-width: 853px)){
        top: 2%;
        left: 3%;
    i{
        font-size: 35px;
    }
    }
}

